main {
  background: rgba(0, 0, 0, 0.9);
  text-align: center;
  padding-bottom: 10px;
  h2 {
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 10px 0;
    font-size: 2rem;
  }
  h2:first-letter {
    color: #fadf00 !important;
    font-size: 3rem;
  }

  form input {
    padding: 15px 5px;
    width: 90%;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid silver;
    background-color: rgba(0, 0, 0, 0.1);
    outline: 0;
    color: #fff;
  }
  input::placeholder {
    color: silver;
  }
  input:focus {
    box-shadow: 0 0 3px 0 #b2cded;
  }
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  table {
    width: 90%;
  }
  tr:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  thead {
    background: #fadf00;
    th {
      padding: 10px;
      text-align: left;
      font-weight: 700;
    }

    tr th:first-child {
      border-radius: 4px 0 0 4px;
    }
    tr th:last-child {
      border-radius: 0 4px 4px 0;
    }
  }
}
@media screen and (max-width: 768px) {
  table {
    overflow: scroll !important;
    thead{
      font-size: 13px;
      th{
      }
    }
  }
}
