tr {
  text-align: left;
  td {
    padding: 10px;
    color: #fff;
    font-size: 18px;
    a{
      text-decoration: none;
      color: #fadf00;
    }
    a:hover{
      color: #edff12;
    }
  }
  td:nth-child(2) {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;

  }
  td:nth-child(3) {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;

  }
  td:nth-child(4) {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
  }
}
.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .cryptoNames {
    padding-left: 1rem;
    h3 {
      font-weight: 400;
    }
    span {
      font-size: 13px;
      color: silver;
    }
  }
  img {
    width: 50px;
    height: 50px;
  }
}

.green {
  color: #27ae60;
}
.red {
  color: #c0392b;
}

@media (max-width:768px){
  td{
    font-size: 15px !important;
  }
  td:nth-child(2) {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0 !important;

  }
  td:nth-child(3) {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0 !important;

  }
  td:nth-child(4) {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0 !important;
  }
  .container{
    img{
      width: 40px;
      height: 40px;
    }
  }
}
