nav {
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 10rem;
  h3 {
    color: #fadf00;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
  }
  select {
    padding: 5px 15px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.8);
    font-size: 1rem;
    color: #fff;
    option {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
}
@media (max-width: 768px) {
nav{
  h3{
   margin: 0 10px;
  }
}
}
