.item {
  padding: 1rem;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between ;
  align-items: center;
  border-bottom: 1px solid silver;
}
.infoDisplay {
  display: flex;
  align-items: center;
  justify-content: center;
}
.infoDisplay img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}
.infoDisplay h4 {
  margin-right: 20px;
}
.infoDisplay h4 span {
  font-weight: 400;
}
.removeBtn img {
  width: 25px;
  height: 25px;
  background: none;
}

.countDisplay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.increase {
  margin-left: 5px;
}
.increase,
.decrease,
.removeBtn {
  background: none;
  border: 0;
  outline: 0;
}
.decrease img {
  transform: rotate(180deg);
}
.increase img,
.decrease img {
  width: 25px;
  height: 25px;
}

.count {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: rgb(6, 66, 66);
  color: #fff;
}
.count span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.countDisplay .price {
  margin-top: 10px;
  font-weight: 400;
}
